body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header img {
    width: 150px;
    /* Tamaño personalizable */
    height: auto;
    /* Ajusta automáticamente la altura según el ancho */
    margin-top: 10px;
    /* Margen superior personalizable */
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #c13ff5;
    /* Color de hover personalizable */
}

h1 {
    margin: 0;
    text-align: center;
    margin-top: 10px;
}

.carousel {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 1s ease;
    align-items: top;
}

.carousel-inner img {
    width: 100%;
    max-height: 400px;
    object-fit:cover;
    flex-shrink: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.gallery img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(1.05);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
    box-sizing: border-box;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    padding: 10px 20px;
    background-color: #004080;
    color: #fff;
    border: none;
    border-radius: 20px;
    /* Borde más circular */
    cursor: pointer;
    transition: background-color 0.3s ease;
    float: right;
    /* Alineación a la derecha */
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background-color: #c13ff5;
}

footer {
    background-color: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
}

@media (max-width: 768px) {
    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }
}